PORT=3333
WEB_ORIGIN=http://localhost:3000
NEXT_PUBLIC_WS_URL=ws://localhost:3333/ws
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
WEATHER_LAT=-12.2664
WEATHER_LON=-38.9663
GITHUB_TOKEN=
GITHUB_USERNAME=
TELEMETRY_DIR=logs
TELEMETRY_INTERVAL_MS=300000
PHONE_HOST=192.168.15.73
PHONE_PORT=8022
PHONE_USER=u0_a160
